/* Here is your custom css styles. */
/* #button-body{
	margin-bottom: 50px;
} */
/* .btn-floating{
	display: none;
} */
/* #aboutme .social-link a {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.2rem;
    margin: 0 0.5rem;
    padding: 0;
    color: #fff;
    border: 1px solid #5151e5;
    background: radial-gradient(#72edf2, #5151e5);
    font-size: 0.9rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .21), 0 2px 3px rgba(0, 0, 0, .1);
} */